body {
    background-color: gray;
}

.flex-container{
    display: flex;
    justify-content:space-between;
    background-color :darkslategray
}

p {
    color: white;
}


.nav {
    display: flex;
    align-items: center;
}

.list {
    display: flex;    
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-right: 1300px;
}
button {
    margin-right: 50px;
    border-radius: 8%;
    
}

.list li {
    margin: 0 15px 0 15px;
}

.log-in {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.table {
    display: flex;
    justify-content: center;
}

.footer-section {
    display: flex;
    justify-content: center;
}

.footer-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer-list li {
    margin: 0 10px 0 10px;
}

form {
    display: flex;
    justify-content: center;
}

.sign-up{
display: flex;
justify-content: center;
}

th,td {
    background-color: wheat;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

